.item {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  display: block;
  color: black;
}

.item:hover {
  background: #eee;
}

.item:last-child {
  border-bottom: 0;
}

.poster, .title {
  display: inline-block;
  vertical-align: middle;
}

.poster {
  width: 45px;
  height: 66.75px;
  margin-right: 10px;
  background: #B2B7BC;
}

.title {
  font-size: 14px;
}
