.header {
  background: #2A2F3A;
  color: white;
  margin-bottom: 25px;
  padding: 20px 0;
  font-size: 18px;
  border-top: 15px solid #4F5A65;
}

.link {
  color: white;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  background: #4F5A65;
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  background: #1E2628;
}

.linkActive {
  background: #6292F0 !important;
}
